@keyframes loader__roller {
  0% { transform: translate(-50%,-50%) rotate(0deg); }
  100% { transform: translate(-50%,-50%) rotate(360deg); }
}
.loader__roller div {
  position: absolute;
  width: 60px;
  height: 60px;
  border: 10px solid #5be1c2;
  border-top-color: transparent;
  border-radius: 50%;
}
.loader__roller div {
  animation: loader__roller 1.6393442622950818s linear infinite;
  top: 50px;
  left: 50px
}
.loader__container {
  width: 84px;
  height: 84px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.loader__roller {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.84);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.loader__roller div { box-sizing: content-box; }

.loader { 
  display: flex;
  justify-content: center;
}