@import '../../sass-utils/_variables.scss';

.card {
    flex-basis: 360px;
    font-size: $main-text-font-size;
    color: $main-text-color;
    font-family: $font-card-text-stack;
    border-radius: $card-border-radius;
    margin: 20px 5px;
    transition: all 1s ease-in-out;
    box-shadow: 3px 3px 5px 5px $box-shadow-color;
    
    &__video-thumbnail { 
        width: 100%;
        border-radius: $card-image-border-radius;
    }

    &__channel-thumbnail-container {
        width: 40px;
        padding: 0 10px;
     }

    &__channel-thumbnail { 
        width: 100%;
        border-radius: $channel-image-border-radius;
    }

    &__video-info-container {
        padding: 10px 0;
        display: flex;
    }

    &__video-title { 
        margin: 0;
        word-break: break-word;
        word-wrap: break-word;
        cursor: pointer;
        overflow: hidden;
        text-overflow: clip;
        max-height: 50px;
        font-family: $font-card-title-stack;
        line-height: 1.5rem;
        font-weight: 400;
        font-size: $card-title-font-size;
    }

    &__video-link { 
        text-decoration: none;
        color: $main-text-color;
    }

    &__description-container {
        width: 80%;
    }

    &__channel-name {
        font-size: $card-description-font-size;
        color: $card-description-font-color;
        margin: 3px 0;
        text-overflow: clip;
    }

    &__channel-link { 
        text-decoration: none;
        color: $card-description-font-color;
    }

    &__video-stat { 
        display: flex;
        justify-content: flex-start;
        font-size: $card-description-font-size;
        color: $card-description-font-color;
        line-height: 1.1rem;
    }

    &__video-views-count { 
        &::after { 
            content: "•";
            margin: 0 8px;
        }
    }

    &:hover { 
        box-shadow: 6px 6px 8px $box-shadow-color-hovered;
        transform: scale(1.05);
    }

    &__description { 
        margin: 0;
    }
}

.dark .card {
    background-color: $card-background-color-dark;
    box-shadow: 1px 1px 1px 2px $box-shadow-color-dark;
    &__video-title { 
        color: $card-title-color-dark;
    }
    &__video-stat { 
        color: $main-text-color-dark;
    }
    &__channel-name { 
        color: $main-text-color-dark;
    }

    &__video-link { 
        color: $main-text-color-dark;
    }
    &__channel-link { 
        color: $main-text-color-dark;
    }
}