@font-face {
    font-family: "Roboto";
    src: local("Roboto"),
            url("../assets/fonts/Roboto/Roboto-regular/roboto-regular.eot?#iefix") format('embedded-opentype'),
            url("../assets/fonts/Roboto/Roboto-regular/roboto-regular.woff2") format('woff2'),
            url("../assets/fonts/Roboto/Roboto-regular/roboto-regular.woff") format('woff'),
            url("../assets/fonts/Roboto/Roboto-regular/Roboto-regular.ttf") format('truetype');
         
}
 @font-face {
     font-family: "Roboto Medium";
     src: local("Roboto Medium"),
          url("../assets/fonts/Roboto/Roboto-medium//roboto-medium.eot?#iefix") format('embedded-opentype'),
          url("../assets/fonts/Roboto/Roboto-medium/roboto-medium.woff2") format('woff2'),
          url("../assets/fonts/Roboto/Roboto-medium/roboto-medium.woff") format('woff'),
          url("../assets/fonts/Roboto/Roboto-medium/Roboto-medium.ttf") format('truetype');
     font-weight: 400;
 }