
// font size 
$form-font-size: 1.2rem;
$header-font-size: 1.4rem;
$main-text-font-size: 1.2rem;
$sub-header-font-size: 1.3rem;

// font stack
$font-stack: Arial, Verdana, Geneva, Tahoma, sans-serif;

// font color 
$main-text-color: black;
$header-default-color: white;
$header-background-color: black;

// card
$card-border-radius: 15px;
$card-image-border-radius: 15px 15px 0 0;
$channel-image-border-radius: 50%;

$box-shadow-color:rgba(171,169,169,0.85); 
$box-shadow-color-hovered:#696969; 

$card-description-font-size: 1.1rem;
$card-description-font-color: #696969;
