@import '../../sass-utils/_variables';
@import '../../sass-utils/_holders';
@import '../../sass-utils/adaptive.scss';
body { 
    margin: 0;
    padding: 0;
    background-color: $main-background-color ;
    @extend %transition-styles-holder;
    font-display: fallback;
}

body.dark { 
    background-color: $main-background-color-dark;
}