@import '../../sass-utils/_variables';
@import '../../sass-utils/_holders';

body { 
    margin: 0;
    padding: 0;
    background-color: $main-background-color ;
    @extend %transition-styles-holder;
}

body.dark { 
    background-color: $main-background-color-dark;
}

// .header { 
//     font-size: 20px;
//     text-align: center;
//     font-family: Arial, Helvetica, sans-serif;
//     color: #999;
//     margin: 0;
//     background-color: black;
//     transition: padding 1s ease-in-out;
//     padding: 0;

//     &:hover h1{ 
//         color: red;
//     }

//     &:hover { 
//         padding: 20px 0;
//     }
// }
