@import '../../sass-utils/_variables.scss';

@import '../../sass-utils/_container.scss';

.search-form__input-container { 
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0;
    position: relative;
}

.search-form__input-field { 
    width: 100%;
    padding: 15px 40px 15px 15px;
    font-size: $form-font-size;
    font-family: $font-stack;
    color: $main-text-color;
    outline: none;
    border-radius: 12px;
    border: 2px solid #D3D3D3;
    transition: border 1.5s ease-out;

    &:focus { 
        border: 2px solid #696969;
    }
}

.search-icon { 
    position: absolute;
    right: 5px;
    top: 23px;
    border: 0;
    padding: 0;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

.dark .search-icon { 
    color: #fff;
}

.dark .search-form__input-field { 
    background-color: $input-background-color-dark;
    color: $main-text-color-dark;
}